<%= provide :menu do %>
  <%= link_to "Home", root_path, class:"text-gray-600 hover:text-gray-800" %>
  <%= link_to "Catalogue", categories_path, class:"text-gray-600 hover:text-gray-800" %>
  <a class="text-gray-600 hover:text-gray-800" href="#">About</a>
<% end %>